body{
    background-image: url('928cf94ea5258aaaf55c8ab0ec329a3d.jpg');
    width: 80%;
    background-color: rgba(245, 245, 245, 0.548);
    margin: auto;
    padding: 120px 80px;
}
.laporan1{
    width: 90%;
    background-color: rgba(230, 138, 138, 0.548);
    margin: 0;
    padding: 80px 80px;
}
